NEXT_PUBLIC_SUPABASE_URL=https://qcopfmseprcriaxnuxmb.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFjb3BmbXNlcHJjcmlheG51eG1iIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTA3MDA1MTcsImV4cCI6MjA2NjI3NjUxN30.v6XgHtH2diC7KlzUJ4o8WY15j8jNpcT_voF_LyS7N6c
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFjb3BmbXNlcHJjcmlheG51eG1iIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1MDcwMDUxNywiZXhwIjoyMDY2Mjc2NTE3fQ.nDNsw-SuhvaKYSPjq5OyHisRVKFGwvvQyvvRLQmeo7I
NEXT_PUBLIC_STREAM_API_KEY=9xvpnn7jqchk
STREAM_API_SECRET=6f74q5t8rxphpvevawg65x767wcuftpmh98qfjjpkgu84jza83dyfd8dyqfqamwu
STREAM_WEBHOOK_SECRET=sk_webhook_abc123def456ghi789jkl